@charset "UTF-8";
/**************************************************
             Page:Body/ Global;
  ***************************************************/
body {
	font-family: 'Lato', 'Source Sans Pro', sans-serif;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	max-height: inherit;
	min-height: 5000px;
    font-weight: 400;
	
}
h2{
  font-weight: 400;
}
h3{
  font-weight: 400;
}
h4{
  font-weight: 400;
}
/**************************************************
             Page:Conatiner;
  ***************************************************/
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
    height: 100%;
}
/**************************************************
             Page:Nav;
  ***************************************************/
header {
	width: 100%;
	height: 5%;
    background-color: #99bdc5;
}

.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #000000;
}

.hero_header {

	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	align-content: center;
	float: center;
	max-width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
}
.hero_header img{
    clear:both;
    padding: 5%;
   
}
/**************************************************
             Page:Arrow Down;
  ***************************************************/
.pushdown {
    color: #ffffff;
    text-align: center;
    max-width: 90%;
    width:10%;
    position: fixed;
    bottom: 0;
    align-content: center;
    background-color: rgb(0,0,0,0.25);
    margin-left: 40%;
}
 .pushdown a{
    color: #ffffff;
}

.push {
  font-family: 'Lato', sans-serif;
  width: 100%;
}    
.fa-arrow-down {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
  width: 40px;
  height: 40px;
  cursor:pointer;
}

  .fa.fa-arrow-down.fa-2x{
    text-decoration: initial;
    text-decoration:none;
    color: #99bdc5;
  }
/**************************************************
             Page:Animation;
  ***************************************************/

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(1.2);
  }
  30% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    padding-bottom: 20px;
    transform: translateY(0px) scale(1)
  }
}

.pushdown,
.push {
  animation: fade-up 2s 1s forwards ease-out;
}

.push {
  animation-name: fade-up;
  animation-delay: 3s;
}
/**************************************************
             Page:FITDIL Top;
  ***************************************************/
.hero {
	
    background-image: url("../FITDIL-Homepage-2019-02/Images/Title/background2.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
	padding-top: 50px;
	padding-bottom: 50px;
	float: left;
	display: inline-block;
	width: 100%;
    max-height: 100%;
    clear: both;
}
.guest{
    clear:both;
    list-style: none;
	float: inherit;
    margin-left: 30%;
    text-align: right;
    margin-top: 10%
}
.hero ul{
    clear:both;
    list-style: none;
	float: right;
    padding-right: 10%;
    text-align: right;

}
.hero li a{
    text-decoration: none;
    color: #99bdc5;
    font-weight: bold;
}
.hero ul li:hover a {
	color: #ffffff;
    }
.hero1{
	float:right;
	
}
.hero1 img{
	padding-right: 10%;
    max-width: 50%;
    width: 50%;
}
.filler{
	height: 200px;
	clear: both;
}

.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/**************************************************
             Page:Public & Community Collections;
  ***************************************************/
.text_column {
	display: inline-block;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.pubCol {
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 35px;
	display: block;
	background-color: #ffffff;
    text-decoration-color: #99bdc5;
	
}
.pubCol h2 {
	font-size: 250%;
    text-decoration: none;
    color: #99bdc5;
	
}

.pubCol h3{
	font-size: 150%;
    text-decoration: none;
    color: #99bdc5;
	
}
.pubCol a:hover{
	color: #99bdc5;
}
.comCol {
	padding-left: 25px;
	padding-bottom: 25px;
	padding-top: 35px;
	display: block;
	background-color: #ffffff;
    text-decoration: none;
	
}
.comCol-schools {
	padding-left: 10%;
	padding-bottom: 25px;
	padding-top: 35px;
	display: block;
	background-color: #ffffff;
    text-decoration: none;
	
}
.comCol-schools a{
	color: #99bdc5;
}
.comCol h3{
	font-size: 150%;
    text-decoration: none;
    color: #99bdc5;
	
}
.comCol h2{
	font-size: 250%;
    text-decoration: none;
    color: #99bdc5;
	
}
.comCol-schools h3{
	font-size: 150%;
    text-decoration: none;
    color: #000000;
	
}
.comCol-schools h2{
	font-size: 250%;
    text-decoration: none;
    color: #000000;
}
.thumbnail-schools{
    text-decoration: none;
	width: 45%;
	text-align: center;
	float: left;
	margin-top: 35px;
	padding-left: 5%;
	height: auto;
    position: static;
}
.thumbnail-schools a{
    text-decoration: none;
    color: #000000;
    padding-top: 45%;
    
}

.thumbnail-schools a:hover{
    text-decoration: none;
    color: #99bdc5;
}
.thumbnail-schools a:visted{
    text-decoration: none;
    color: #99bdc5;
}
.thumbnail-schools h3{
    padding-top: 35%;
    
}
.thumbnail-schools img{
    padding:none;
    position: center center;
}
.banner-schools {
	clear: both;
	background-color: #f4f4f4;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    position: static;
}
.banner-schools a:visited{
	text-decoration: none;
}
.banner-schools a:hover{
	color: #99bdc5;
}

/**************************************************
             Page:Gallery;
  ***************************************************/


.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
    position: static;
    max-height: inherit;
    text-decoration: none;
}
.gallery2 {
	display: inline-block;
	width: 90%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
    position: static;
    max-height: inherit;
    text-decoration: none;
    padding-left: 10%;
}
.gallery3 {
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
    position: static;
    max-height: inherit;
    text-decoration: none;
    
}
.gallery3 img{
    width: 100%;
}
.thumbnail {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
    position: static;
    max-height: inherit; 
	
}

.gallery a:visited{
    text-decoration: none;
}
.gallery2 a:visited{
    text-decoration: none;
}
.gallery3 a:visited{
    text-decoration: none;
}
.thumbnail2 {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
    position: static;
    max-height: inherit;
    padding-left: 2.5%;
	
}
.thumbnail3 {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
    position: static;
    max-height: inherit;
    padding-left: 5%;
	
}
.gallery h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.gallery a:link {
	color: black;
    text-decoration: none;
	
}
.thumbnail a:link {
	color: black;
    text-decoration: none;
	
}
.thumbnail a:visited {
	color: black;
    text-decoration: none;
	
}
.thumbnail a:hover {
	color: #99bdc5;
    text-decoration: none;
	
}
.gallery2 a:link {
	color: black;
    text-decoration: none;
	
}
.gallery2 a:visited {
	color: black;
    text-decoration: none;
	
}
.gallery2 a:hover {
	color: #99bdc5;
    text-decoration: none;
	
}
.gallery3 a:link {
	color: black;
    text-decoration: none;
	
}
.gallery3 a:visited {
	color: black;
    text-decoration: none;
	
}
.gallery3 a:hover {
	color: #99bdc5;
    text-decoration: none;
	
}
.gallery a:visited {
	color: black;
    text-decoration: black;
	
}
.gallery a:hover {
	color: #99bdc5;
    text-decoration: none;
	
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
    text-decoration-color: #99bdc5;
}
.banner {
	background-color: #f4f4f4;
	max-height: inherit;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    position: static;
}
.first{
    padding-right: -5%;
}
/**************************************************
             Page:Footer;
  ***************************************************/
footer {
	background-color: #99bdc5;
}

.copyright {
	align-content: center;
	text-align: center;
	margin-top: -60px;
	background-color: #99bdc5;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-top-width: 2px;
	max-height: 20% ;
	width:90%;
	bottom: 0;
	height: inherit;
}
.copyright img{
	max-width: 50%;
	align-content: center;
	margin-top:-30px;
	background: rgba(0,0,0,0.00);
}

/*.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}*/
footer {
	clear: both;
	display: block;
    bottom: 0;
	position:relative;
	max-height: 10%;
	background-color: #99bdc5;
	padding-left: 5%;
	padding-right: 5%;
	align-content: center;
	width:90%;
   	left: 0;
	height: 10%;
	max-width: 90%;	
}
.footer img {
	width: 300px;
	align-content: center;
}
.hidden {
	display: none;
}

/**************************************************
             Page:Mobile;
  ***************************************************/
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
    .hero1 img{
        max-width: 20%;
    }
.thumbnail {
	width: 100%;
}
.thumbnail2 {
	width: 100%;
}
.thumbnail3 {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #99bdc5;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	line-height: 22px;
	text-align: center;
}
}
/**************************************************
             Page:Small Tablets;
  ***************************************************/
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.hero_header img{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	max-width: 100%;
    min-width: 100px;
	float: none;
	overflow: auto;
	display: inline-block;
}
    .hero1 img{
        width: 25%
    }
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
    padding-left: 0px;
	
}
.thumbnail2 {
	width: 100%;
    padding-left: 0px;
}
.thumbnail3 {
	width: 100%;
    padding-left: 0px;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {

    padding-left: 0px;
    padding-right: 0px;
}
.footer_column {
	width: 100%;
}
    .pushdown h3{
        display:none;
    }    
    .pushdown{
        margin-left: 80%;
        position: fixed;
        bottom: 25%;
        margin-bottom: -3%;
        padding-top: 3%

    }
}


@media (min-width: 1096) {
    .hero1 img{
        max-width:20% 
    }  
        
    }
/**************************************************
             Page:Small Desktops;
  ***************************************************/
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.
.thumbnail {
	max-width:50% ; 
    width: 50%;
    padding-left: 5%;
}
.thumbnail2 {
	max-width:50% ; 
    width: 50%;
    padding-left: 5%;
}
.thumbnail3 {
	max-width:50% ; 
    width: 50%;
    padding-left: 5%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.hero1 img{
        max-width:25% 
    }  
.hero_header img{
        max-width: 100%;
    }  
    .pushdown h3{
        display:none;
    }    
    .pushdown{
        margin-left: 80%;
        position: fixed;
        bottom: 25%;
        margin-bottom: -3%;
        padding-top: 3%

    }
    .pushdown img{
        max-width: 50%;
    }
    
    }
@media (min-width: 1174px)and (max-width: 1606px) {
    .hero_header{
            align-content: center;

    }
    
}
@media (max-width: 767px){
    .thumbnail-schools{
        max-width: 70%;
        width: 70%;
        float: center;
        clear: both;
        align-content: center;
        padding-left: 8%;
    }
    .thumbnail-schools h3{
        padding-left: 23%;
        padding-top: 0px;
        
    }
    .thumbnail-schools p{
        padding-left: 23%;
        
    }
    .pushdown img{
        max-width: 50%;
    }
    .thumbnail {
	padding-left: none;
        margin-left:0px;
}
    .thumbnail2 {
	padding-left: none;
        width: inherit;
}
    .thumbnail3 {
	padding-left: none;
}
    .thumbnail img{
        width: 50%;
    }
    .gallery2 {
        padding-left: 0px;
        width: inherit;
    }
    .gallery {
        padding-left: 0px;
    }
    .gallery3 {
        padding-left: 0px;
        width: inherit;
    }
    .gallery3 img{
     width:70%;   
        
    }
.thumbnail2 {
	padding-left: none;
}
.thumbnail3 {
	padding-left: none;
}
}


/*************************************************************************
     Page coded and manipulated by Nicholas J. Martucci-FIT-2019;
  **************************************************************************/