body{
    background-color: coral;
    font-family: Ariel, "halvetica neue", Halvetica, sans-serif;
    margin: 0 auto;
    }
h1{

        color: coral;
    background-color:aquamarine;
    }
h2 {
    text-align: inherit;
    color: aquamarine;
    background-color: darkgrey;
    }
h3{
    text-align: inherit;
      color:darkgrey; 
    background-color: aquamarine;
    }
p {
    color: darkslateblue;
    margin-bottom: 1.7em;
    text-align: justify;
   
    }
a {
    font-style: italic;
    color:cornflowerblue;
    }
a:visited {
            color: darkmagenta;
        }
.first{
            margin: auto;
    max-width: 500px;
            }
.second{
            margin:auto;
    max-width:  500px;
            }
.third{
       margin: auto;
    max-width: 500px;
        }
            
