.wrap
    {
    margin: 0 auto;
      width: 75%;
        background-color: darkgreen;
    }
.header 
    {
      text-align: right; 
        height: 10%;
        background-color: darkkhaki;
    }
.nav
    {
      height: 50px;
        text-align: center;
        background-color: darkseagreen;
        display: inline;
        width: 100%;
        float:left;
    }
.sidebar
    {
        width:20%;
        float:left;
        text-align: center;
        background-color: darkkhaki;
        height:100%;
    }
.content
    {
        float:left;
        background-color: forestgreen
        
    }
li
{
    list-style: none;
    float: left;
    padding-left:10px;
    padding-right:10px;
}
.footer
{
    float: center;
    width: 100%;
}
